body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "main"
    "footer ";
}

.on,.off {
    display: none;
}

/* HOMEPAGE STYLE DESKTOP */ 

.home .mainTop img {
    height: 15em;
    width: 15em;
    border-radius: 100%;
    border: 5px solid white;
    box-shadow: 0px 0px 10px;
    margin-bottom: 2em;
    position: relative;
}

.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainTop"
    "mainBottom";
    padding: 3em 15%;
    height: 64vh;
}

.home .mainTop {
    grid-area: mainTop;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .mainBottom {
    grid-area: mainBottom;
}

.home .mainBottom p {
    text-align: center;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
}

nav > ul > li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: #4d5b7a;
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-in;
    pointer-events: none;
   }

   nav > ul > li:hover ul {
       opacity: 1;
       pointer-events: auto;
}

/*Changing backgrund color when hovered over the navigation links to the different web pages*/
nav ul ul li:hover {
    background-color: #242a38;
}

    .contactLinks a {
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        justify-content: flex-start;
    }
/* Creating a margin for the contact links section on the contact webpage */
.contactLinks i {
    margin-right: 0.1em;
}
/* Setting a background colour and padding for the contact links section on the contact webpage */
.contactLinks {
    background-color: #353d52;
    padding: 2em;
}

/* Displaying a grid and assigning a color to the titles of the different sections of the form*/
.contactPage {
    display: grid;
    grid-template-columns: 30% 70%;
    color: white;
}

.contactPage form {
    display: grid;
    grid-template-rows: auto; 
    margin: 5em;
    grid-gap: 0.5em;
}

.contactPage form section input {
    margin-right: 0.5em;
}

/* Creating a submit button, assigning it a width and setting the position to center */
.contactPage form input[type=submit] {
    width: 25%;
    justify-self: center;
}

/* Grid display, with columns and rows specified. Grid contents aligned to center. Gap between each section and bottom is specified*/
.portfolio {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    text-align: center;
    justify-items: center;
    grid-gap: 1.1%;
    margin-bottom: 3%;
}
/* Assigning colour to the module sections with specified margin, height and width. The background colur and padding for each section is assigned */
 .Modules {
    margin: 2.2%; 
    height: 90%;
    width: 55%;
    color: #353d52;
    background-color: yellow;
}

.Modules img {
    width: 14em;
    height: 10em;
    padding: 0.5em;
}

/* Creating a grid for the entries of my blog */
.Blog {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "entry1 entry2 entry3";
    text-align: center;
    justify-items: center;
    margin: 0.5em;
    height: 66.4vh;
    margin-bottom: 5em;
}

.blogEntry1{
    grid-area: entry1;
    color: white;
    margin: 1%;
    border-color: yellow;
    border-style: solid;
    width: 20.5em;
    padding: 1em;
}

.blogEntry2{
    grid-area: entry2;
    color: white;
    margin: 1%;
    border-color: yellow;
    border-style: solid;
    width: 20.5em;
    padding: 1em;
}

.blogEntry3{
    grid-area: entry3;
    color: white;
    margin: 1%;
    border-color: yellow;
    border-style: solid;
    width: 20.5em;
    padding: 1em;
}

.Blog p {
    margin: 0.5em;
}

.Report {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.WebDevelopment {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.SoftwareEngineering {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
    font-size: 1.040em;
}

.SoftwareEngineering b {
    font-size: 1.100em;
}

.SoftwareEngineering ul li {
        list-style: none;
        font-size: 1.090em;
 }

.Databases {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.Programming {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.websiteStart {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.websiteProgress {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.finalWebsite {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.report {
    justify-items: center;
    margin: 3%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

 .portfolio section a:hover h2
 {
     display: block;
 }

 .portfolio section a h2
 {
     display: none;
 }

 .portfolio section a h2 {
     position: absolute;
 }

 .portfolio section a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Blog section {
    text-align: center;
}

nav li {
    font-size: 18px;
}

.blog {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 25vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.blog {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 25vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.blog {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 25vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.validationGrid {
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    justify-items: center;
    grid-gap: 0%;
    margin-bottom: 3%;
    border-color: yellow;
    border-style: solid;
    width: 205vh;
    margin-left: 3%;
}

.progress {
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "firstLog secondLog thirdLog ";
    text-align: center;
    justify-items: center;
    margin-bottom: 5em;
    margin: 0.5em;
}

.progress .firstLog {
    grid-area: firstLog;
    color: white;
    margin: 3%;
    border-color: yellow;
    border-style: solid;
    width: 20.5em;
    padding: 1em;
}

.progress .secondLog {
    grid-area: secondLog;
    color: white;
    margin: 3%;
    border-color: yellow;
    border-style: solid;
    width: 20.5em;
    padding: 1em;
}

.progress .thirdLog {
    grid-area: thirdLog;
    color: white;
    margin: 3%; 
    border-color: yellow;
    border-style: solid;
    width: 20.5em;
    padding: 1em;
}