body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "main"
    "footer ";
}

.on,.off {
    display: none;
}

/* HOMEPAGE STYLE DESKTOP */ 
.home {
    
}

.home .mainTop img {
    height: 15em;
    width: 15em;
    border-radius: 100%;
    border: 5px solid white;
    box-shadow: 0px 0px 10px;
    margin-bottom: 2em;
    position: relative;
}

.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainTop"
    "mainBottom";
    padding: 3em 15%;
}

.home .mainTop {
    grid-area: mainTop;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .mainBottom {
    grid-area: mainBottom;
}

.home .mainBottom p {
    text-align: center;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
}

nav > ul > li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: #4d5b7a;
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-in;
    pointer-events: none;
   }

   nav > ul > li:hover ul {
       opacity: 1;
       pointer-events: auto;
}

nav ul ul li:hover {
    background-color: #242a38;
}

    .contactLinks a {
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        justify-content: flex-start;
    }

.contactLinks i {
    margin-right: 0.1em;
}

.contactLinks {
    background-color: #353d52;
    padding: 2em;
}

.contactPage {
    display: grid;
    grid-template-columns: 30% 70%;
    color: white;
}

.contactPage form {
    display: grid;
    grid-template-rows: auto; 
    margin: 5em;
    grid-gap: 0.5em;
}

.contactPage form section input {
    margin-right: 0.5em;
}

.contactPage form input[type=submit] {
    width: 50%;
    justify-self: center;
}

/* Grid display, with columns and rows specified. Grid contents aligned to center. Gap between each section and bottom is specified*/
.portfolio {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    text-align: center;
    justify-items: center;
    grid-gap: 5%;
    margin-bottom: 3%;
}
/* Assigning colour to the module sections with specified margin, height and width. The background colur and padding for each section is assigned */
.Modules {
    margin: 3%; 
    height: 90%;
    width: 55%;
    background-color: yellow;
    padding: 0.1px;
    color: #353d52;
}
/* Creating a grid for the entries of my blog */
.Blog {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    text-align: center;
    justify-items: center;
    grid-gap: 5%;
    margin-bottom: 3%;
    color: white;
}

/* Assigning a height and width for entires with a specified margin */
.Entry {
    margin: 3%;
    height: 90%;
    width: 55%;
}

.Report {
    justify-items: center;
    margin: 3%;
    height: 90%;
    width: 90vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}



 /* main {
    margin-left: 15%;
    margin-right: 15%;
    background-image: url(Portfolio_background_image.jpg);
}

img {
    width: 50%;
    border-radius: 100%;
} 

 */