body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "main"
    "footer ";
}

.on,.off {
    display: none;
}

/* HOMEPAGE STYLE DESKTOP */ 
.home {
    
}

.home .mainTop img {
    height: 15em;
    width: 15em;
    border-radius: 100%;
    box-shadow: 5px 10px;
    margin-bottom: 2em;
}

.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2;
    grid-template-areas: 
    "mainTop"
    "mainBottom";
    padding: 3em 15%;
}

.home .mainTop {
    grid-area: mainTop;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .mainBottom {
    grid-area: mainBottom;
}

.home .mainBottom p {
    text-align: center;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
}

nav > ul > li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: green;
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-in;
    pointer-events: none;
   }

   nav > ul > li:hover ul {
       opacity: 1;
       pointer-events: auto;
}

nav ul ul li:hover {
    background-color: blue;
}

    .contactLinks a {
        display: flex;
        align-items: centre;
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        justify-content: center;
}

.contactLinks i {
    margin-right: 1em;
}

.contactLinks {
    background-color: blue;
}

.contactPage {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contactPage form {
    display: grid;
    grid-template-rows: 90% 10%;
    margin: 5em;
    grid-gap: 0.5em;
}

main {
    margin-left: 15%;
    margin-right: 15%;
}

