*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: yellow;
    grid-area: nav;
}

main {
    background-color: blue;
    grid-area: main;
}

footer {
    background-color: green;
    grid-area: footer;
}

header {
    background-color: grey;
    grid-area: header;
}