*{
    margin: 0;
    padding: 0;

}

body {
    background-color: blue;
}

a, li {
    color: white;
    text-decoration: none;
    font-size: 1.3em;;
}

nav {
    background-color: gray;
    grid-area: nav;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 1.5em;
}

main {
    grid-area: main;
}

footer {
    background-color: green;
    grid-area: footer;
}

header {
    background-color: grey;
    grid-area: header;
}

.active {
    border-bottom: 0.3em solid aqua;
}


.backG p {
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 100vh;
    width: 0.1em;
    opacity: 30%;
}

.backG {

    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: -1;
    height: 100%;
}

.backG p:nth-child(even) {
    animation: down 8s infinite linear;
}

.backG p:nth-child(odd) {
    animation: up 8s infinite linear;
}


@keyframes down {

    0% {
        transform: translate(0, -50%)
    }

    100% {
        transform: translate(0, 150%)
    }
}

@keyframes up {

    0% {
        transform: translate(0, 100%)
    }

    100% {
        transform: translate(0, 0)
    }
}

footer {
    background-color: rgb(14, 97, 221);
    height: 5em;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 0 40%;
}

footer p {
    grid-row-start: 2;
    grid-column: 1/5;
}

footer a {
        color: white;
        font-size: 2em;
    }

    