*{
    margin: 0;
    padding: 0;

}

body {
    background-color: #242a38;
}

a, li {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

nav {
    background-color: gray;
    grid-area: nav;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 1.5em;
}

main {
    grid-area: main;
    color: white;
}

main {
    font-size: 1.171em;
}

footer {
    background-color: green;
    grid-area: footer;
}

header {
    background-color: grey;
    grid-area: header;
}

.active {
    border-bottom: 0.3em solid aqua;
}

.backG p {
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 100vh;
    width: 0.1em;
    opacity: 30%;
}

 body{

/*     background: linear-gradient(90deg, rgba(36,42,56,1) 0%, rgb(16, 27, 51) 35%, rgb(62, 71, 92) 100%);
	background-size: 400% 400%;
	animation: gradient 15s infinite linear;
    animation-delay: 5s; */

    animation: backG 8s infinite ease;
}

@keyframes backG {

    0% {
        background-color: rgba(36,42,56,1);
    }

    50% {
        background-color: rgb(62, 71, 92);
    }
    100% {
        background-color: rgb(36,42,56,1);
    }
    
}

footer {
    background-color: #2e3449;
    height: 5em;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 0 40%;
}

footer p {
    grid-row-start: 2;
    grid-column: 1/5;
}

footer a {
        color: white;
        font-size: 2em;
    }

.Modules h2 {
    background-color: black;
    color: white;
}  

.Blog button {
    background-color: #242a38;
    color: white;
}