*{
    margin: 0;
    padding: 0;

}

a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;;
}

nav {
    background-color: darkblue;
    grid-area: nav;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 1.5em;
}

main {
    background-color: blue;
    grid-area: main;
}

footer {
    background-color: green;
    grid-area: footer;
}

header {
    background-color: grey;
    grid-area: header;
}