body {
    background-color: #242a38;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

.on,.off {
    display: none;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: 40%;
    height: 100vh;
    width: 60%;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in;
}

nav a {margin:0;}

nav ul {
    list-style: none;
}

#showNav:target .on {display: none;}
#showNav:target .off {display: block;}
#showNav .on {display: block;}
#showNav .off {display: none;}

#showNav:target nav {
    display: block;
    transform: translate(0, 0);
}

nav > ul > li:hover ul {
    opacity: 1;
    pointer-events: auto;
}

nav ul ul li:hover {
 background-color: #242a38;
}

.on {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;

}

.on::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}
/* homepage */
.home .mainTop img {
    height: 15em;
    width: 15em;
    border-radius: 100%; 
    border: 5px solid white;
    box-shadow: 0px 0px 10px;
    margin-bottom: 2em;
    background-position: center;
}

.home .mainTop {
    margin-top: 3em;
}

.home {
    text-align: center;
    margin-top: 3.4em;
    margin-bottom: 6.4em;
    height: 67.5vh;
}

footer {
    padding: 0 5em;
}

.Report {
    border: 2px solid yellow;
    margin: 0.2em;
    padding: 0.7em;
    
}

.contactPage form {
    display: grid;
    grid-template-rows: auto; 
    margin: 1.5em;
    grid-gap: 0.5em;
}

.contactPage form section input {
    margin-right: 0.5em;
}

/* Creating a submit button, assigning it a width and setting the position to center */
.contactPage form input[type=submit] {
    width: 25%;
    justify-self: center;
}


.contactLinks a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    justify-content: flex-start;
}
/* Creating a margin for the contact links section on the contact webpage */
.contactLinks i {
margin-right: 0.1em;
}
/* Setting a background colour and padding for the contact links section on the contact webpage */
.contactLinks {
background-color: #353d52;
padding: 2em;
}

.portfolio section a:hover h2
{
    display: block;
}

.portfolio section a h2
{
    display: none;
}

.portfolio section a h2 {
    position: absolute;
}

.portfolio section a {
   display: flex;
   justify-content: center;
   align-items: center;
}

nav a {
    font-size: 37px;
}

.Blog {
    padding: 0.6em;
}
.siteReport {
    padding: 0.6em;
}

.Modules {
    margin: 2.2%; 
    height: 24%;
    width: 85%;
    color: #353d52;
    background-color: yellow;
}

.blogEntry1{
    grid-area: entry1;
    color: white;
    margin: 1%;
    border-color: yellow;
    border-style: solid;
    width: 18em;
    padding: 1em;
    margin-bottom: 1em;
}

.blogEntry2{
    grid-area: entry2;
    color: white;
    margin: 1%;
    border-color: yellow;
    border-style: solid;
    width: 18em;
    padding: 1em;
    margin-bottom: 1em;
}

.blogEntry3{
    grid-area: entry3;
    color: white;
    margin: 1%;
    border-color: yellow;
    border-style: solid;
    width: 18em;
    padding: 1em;
}
.Blog .btn{
    margin-left: 4.4em;
    margin-bottom: 1em;
}
.Report {
    justify-items: center;
    margin: 3%;
    height: 32%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.WebDevelopment {
    justify-items: center;
    margin: 3%;
    height: 95.8%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.SoftwareEngineering {
    justify-items: center;
    margin: 3%;
    height: 96%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.SoftwareEngineering b {
    font-size: 1.100em;
}

.SoftwareEngineering ul li {
        list-style: none;
        font-size: 1.090em;
 }

.Databases {
    justify-items: center;
    margin: 3%;
    height: 45%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.Programming {
    justify-items: center;
    margin: 3%;
    height: 45%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.websiteStart {
    justify-items: center;
    margin: 3%;
    height: 94%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.websiteProgress {
    justify-items: center;
    margin: 3%;
    height: 96%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.finalWebsite {
    justify-items: center;
    margin: 3%;
    height: 97%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white; 
}

.report {
    justify-items: center;
    margin: 3%;
    width: 85vw;
    border-color: yellow;
    border-style: solid;
    padding: 2%;
    color: white;
}

.portfolio img {
    padding: 0.08em;
}

.Modules img {
    width: 14em;
    height: 10em;
    padding: 0.5em;
}

.validationGrid {
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 100%;
    text-align: center;
    justify-items: center;
    grid-gap: 0%;
    margin-bottom: 3%;
    border-color: yellow;
    border-style: solid;
    width: 91.9vw;
}