body {
    background-color: #242a38;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%
}

nav ul {
    list-style: none;
}

#showNav:target .on {display: none;}
#showNav:target .off {display: block;}
#showNav .on {display: block;}
#showNav .off {display: none;}

#showNav:target nav {display: block;}

.on {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;

}

.on::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}